### Pandas

In [1]:
import pandas as pd
import numpy as np

دیتا ها رو می خونه  و می ذاره تو یه ساختاری و میشه باهاش کار کرد

In [2]:
pd.Series([1,2,3,'mehrshad',0, -1, np.nan])

0           1
1           2
2           3
3    mehrshad
4           0
5          -1
6         NaN
dtype: object

In [3]:
dates = pd.date_range('20250320', periods=6)
dates

DatetimeIndex(['2025-03-20', '2025-03-21', '2025-03-22', '2025-03-23',
               '2025-03-24', '2025-03-25'],
              dtype='datetime64[ns]', freq='D')

In [4]:
df = pd.DataFrame(np.random.randn(6,4), index=dates, columns=['A','B','C','D'])
df

                   A         B         C         D
2025-03-20 -0.765994 -1.811096  0.080401  0.925493
2025-03-21 -0.984443  1.203824 -0.420591  0.534829
2025-03-22 -0.794802  0.070131  1.167907 -1.414958
2025-03-23  0.968598  1.635820 -0.199299  0.102268
2025-03-24 -1.706924  0.128017 -1.350807 -1.102383
2025-03-25  0.099136 -0.439839 -2.532391 -0.882263

In [5]:
np.random.randn(6,4)

array([[ 1.28231056, -1.47306314, -0.19470101, -0.3732998 ],
       [ 0.46426816, -0.57257842,  0.79796464,  0.65205648],
       [ 0.34049965,  1.19551891, -0.95115123,  1.15727228],
       [ 0.38654014, -0.40673722,  0.06157909, -1.29904418],
       [-2.12065281, -0.72367495,  0.46068014, -1.75473493],
       [ 0.40008852,  0.51666911, -0.92160848, -0.09244255]])

In [6]:
df = pd.DataFrame(np.random.randn(6,4), index=dates)
df

                   0         1         2         3
2025-03-20 -0.501284  0.289542  0.432653 -0.089215
2025-03-21 -0.552027 -0.258441  0.670878 -1.239357
2025-03-22  0.687088 -0.591504  2.604685  0.051636
2025-03-23 -2.205045  0.136011  1.122895  0.395768
2025-03-24 -0.712291 -0.931319 -0.746654  1.078600
2025-03-25 -1.077372  0.317797  0.769561 -1.204058

In [ ]:
df_1 = pd.DataFrame(np.random.randn(6,4), index=dates, columns=['A','B','C','D'])           
df_1

                   A         B         C         D
2025-03-20  0.233139  0.325068  0.503260  0.317784
2025-03-21  0.350104 -0.061650 -0.786523 -0.411937
2025-03-22  1.218231  0.274762  0.582080  0.881185
2025-03-23 -0.771984 -0.689288 -0.328337  0.893007
2025-03-24  0.800720  1.130201 -1.194247 -1.386117
2025-03-25  0.356764  0.809113 -2.257378 -0.642302

In [8]:
df2 = pd.DataFrame({'A': 1.,
                    'B': pd.Timestamp('20130102'),
                    'C': pd.Series(1,index=list(range(4)),dtype='float32'),
                    'D': np.array([3] * 4,dtype='int32'),
                    'E': pd.Categorical(["test","train","test","train"]),
                    'F': 'foo'})
df2

# df2.dtypes
# df2.index
# df2.columns

     A          B    C  D      E    F
0  1.0 2013-01-02  1.0  3   test  foo
1  1.0 2013-01-02  1.0  3  train  foo
2  1.0 2013-01-02  1.0  3   test  foo
3  1.0 2013-01-02  1.0  3  train  foo

In [9]:
df2.dtypes

A          float64
B    datetime64[s]
C          float32
D            int32
E         category
F           object
dtype: object

In [10]:
df2['A']
df2['A'] = np.nan
df2
df2['A'] = pd.Series([1,2,3,4,5,6], index=pd.date_range('20250320', periods=6))
df2

    A          B    C  D      E    F
0 NaN 2013-01-02  1.0  3   test  foo
1 NaN 2013-01-02  1.0  3  train  foo
2 NaN 2013-01-02  1.0  3   test  foo
3 NaN 2013-01-02  1.0  3  train  foo

In [11]:
df2.index

Index([0, 1, 2, 3], dtype='int64')

In [12]:
df2.columns

Index(['A', 'B', 'C', 'D', 'E', 'F'], dtype='object')

In [13]:
df.describe()

              0         1         2         3
count  6.000000  6.000000  6.000000  6.000000
mean  -0.726822 -0.172986  0.809003 -0.167771
std    0.936889  0.511431  1.086770  0.910770
min   -2.205045 -0.931319 -0.746654 -1.239357
25%   -0.986102 -0.508238  0.492209 -0.925347
50%   -0.632159 -0.061215  0.720220 -0.018789
75%   -0.513970  0.251159  1.034562  0.309735
max    0.687088  0.317797  2.604685  1.078600

In [14]:
df.T
# df.sort_index(axis=1, ascending=False)
# df.sort_index(axis=0, ascending=False)
# df.sort_values(by='B')

   2025-03-20  2025-03-21  2025-03-22  2025-03-23  2025-03-24  2025-03-25
0   -0.501284   -0.552027    0.687088   -2.205045   -0.712291   -1.077372
1    0.289542   -0.258441   -0.591504    0.136011   -0.931319    0.317797
2    0.432653    0.670878    2.604685    1.122895   -0.746654    0.769561
3   -0.089215   -1.239357    0.051636    0.395768    1.078600   -1.204058

In [15]:
df.mean()
# df.mean(axis=1)
# df.median()
# df.mode()
# df.std()
# df.var()

0   -0.726822
1   -0.172986
2    0.809003
3   -0.167771
dtype: float64

In [16]:
df.sort_index(axis=1, ascending=False)

                   3         2         1         0
2025-03-20 -0.089215  0.432653  0.289542 -0.501284
2025-03-21 -1.239357  0.670878 -0.258441 -0.552027
2025-03-22  0.051636  2.604685 -0.591504  0.687088
2025-03-23  0.395768  1.122895  0.136011 -2.205045
2025-03-24  1.078600 -0.746654 -0.931319 -0.712291
2025-03-25 -1.204058  0.769561  0.317797 -1.077372

In [ ]:
df.sort_values(by='B')
# df.apply(np.mean)
# df.apply(np.mean, axis=1)
# df.apply(lambda x: x.max() - x.min())
# df.apply(lambda x: x.max() - x.min(), axis=1)

KeyError: 'b'

## Read and write operation

In [20]:
df.read_csv('data.csv')
df.to_csv('data.csv')
df.read_excel('data.xlsx')
df.to_excel('data.xlsx')
df.read_json('data.json')
df.to_json('data.json')

AttributeError: 'DataFrame' object has no attribute 'read_csv'

In [21]:
df.to_csv('data.csv')
# df.to_excel('data.xlsx')
# df.to_json('data.json')
# df.to_pickle('data.pkl')
# df.to_parquet('data.parquet')
# df.to_sql('data.sql', con=engine)

In [22]:
df.to_excel('data.xlsx')